# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Pub
.pub-cache/
.pub/
pubspec.lock
